* {
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS;
}

.main {
  background: #000;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top;
}
.image img {
  margin-top: 100px;
  border-collapse: separate;
  border-spacing: 15px 50px;
  border-radius: 50px;
  border: 3px double rgb(224, 206, 45);
  height: 450px;
  width: 275px;
}

.image h3 {
  padding-top: 20px;
  color: rgb(224, 206, 45);
  font-family: "Berkshire Swash", cursive;
  letter-spacing: 2px;
}

.image h5 {
  padding: 10px;
  color: rgb(224, 206, 45);
  font-family: "Trebuchet MS";
}

.para p {
  word-spacing: 5px;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  width: 50vh;
  height: 100%;
  background: rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgb(224, 206, 45);
  font-family: "Laila", sans-serif;
  font-weight: bold;
}

.para i {
  color: rgb(224, 206, 45);
  font-family: "Trebuchet MS";
  font-style: italic;
  letter-spacing: 2px;
}

nav {
  height: 80px;
  background-color: #232b2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 10px;
  /* font-family: Trebuchet MS; */
}

nav .logo {
  height: 100px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 20px;
  margin: 0 5px;
}

nav ul li a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(224, 206, 45);
  border-radius: 50px;
  transition: 0.3s ease;
  padding: 8px 10px;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: rgb(224, 206, 45);
  border-radius: 50px;
  color: #000;
  transition: 0.6s ease;
}

nav .menu-btn i {
  color: aliceblue;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/* #ORDER {
  background-color: rgb(224, 206, 45);
  border-radius: 50px;
  color: #000;
  transition: 0.6s ease;
}

#ORDER:hover {
  background: linear-gradient(rgba(8, 0, 0, 0.2), rgb(8, 0, 0, 0.2));
  border-radius: 50px;
  color: rgb(224, 206, 45);
  transition: 0.6s ease;
  /* filter:invert(100%); */

.logo img {
  align-items: flex-start;
  height: 100px;
  width: auto;
}

.icons {
  background-color: #232b2b;
  color: rgb(0, 0, 0);
  height: 10%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.icons a {
  height: 5vh;
  width: 5vh;
  background-color: #232b2b;
  text-align: center;
  padding: 10px;
  /* line-height: 60px; */
}

.icons i {
  align-items: center;
  color: rgb(224, 206, 45);
  transition: 0.3s linear;
}

a:hover i {
  transform: scale(1.15);
}

nav .menu-btn i {
  color: rgb(224, 206, 45);
  display: none;
  font-size: 20px;
  cursor: pointer;
}

#click {
  display: none;
}

@media (max-width: 1000px) {
  nav .menu-btn i {
    display: block;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 80px;
    left: -100%;
    background-color: #232b2b;
    height: 100vh;
    width: 50%;
    display: block;
    text-align: center;
  }

  nav ul li {
    margin: 40px 0;
  }
  #click:checked ~ ul {
    left: 50%;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul li a {
    font-size: 20px;
    display: block;
    color: rgb(224, 206, 45);
  }
  nav ul li a:hover,
  nav ul li a.active {
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    color: rgb(224, 206, 45);
    transition: 0.3s ease;
  }
}

@media (max-width: 500px) {
  .image {
    font-size: auto;
    height: fit-content;
  }
  .para p {
    width: 100%;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    height: max-content;
  }
  footer h6 {
    text-align: center;
    padding-top: 20px;
    background-color: #232b2b;
    color: black;
    width: 100%;
    height: 20px;
  }
}

@media (max-width: 300px) {
  .image img {
    height: 250px;
    width: fit-content;
  }
  .para p {
    width: 100%;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    height: max-content;
  }
}

@media (max-width: 500px) {
  .main {
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url("burger-mobile.jpg");
    background-blend-mode: darken;
  }

  .main h1 {
    text-size-adjust: auto;
    max-width: fit-content;
    font-family: "Berkshire Swash", cursive;
    padding-top: 50%;
    margin-left: 15%;
    font-size: 65px;
    color: rgb(224, 206, 45);
    letter-spacing: 10px;
  }

  .main h4 {
    padding-top: 2%;
    max-width: fit-content;
    font-family: "Laila", sans-serif;
    margin-left: 15%;
    font-size: 25px;
    color: rgb(224, 206, 45);
    letter-spacing: 2px;
  }
  footer {
    width: 100%;
  }
  .box {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .menu {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .menu h2,
  .social h2,
  .services h2,
  .menu ul li,
  .services li,
  .LOCATION h2 {
    font-size: larger;
    line-height: 50px;
  }
  .social {
    align-items: center;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .social img {
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .services {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .LOCATION {
    height: 100vh;
    width: 100%;
  }
  .LOCATION iframe {
    height: 500px;
    width: 250px;
  }

  footer h6 {
    text-align: center;
    padding-top: 20px;
    background-color: #232b2b;
    color: black;
    width: 100%;
    height: 20px;
  }
  nav .menu-btn i {
    display: block;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 80px;
    background-color: #232b2b;
    height: 100vh;
    width: 100%;
    text-align: center;
  }

  nav ul li {
    margin: 5px 0;
    line-height: 10px;
  }
  #click:checked ~ ul {
    left: 0%;
    height: 50vh;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul li a {
    background-color: #232b2b;
    font-size: 20px;
    display: block;
    color: rgb(224, 206, 45);
  }
  nav ul li a:hover,
  nav ul li a.active {
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    color: rgb(224, 206, 45);
    transition: 0.3s ease;
  }
}

@media (max-width: 500px) {
  .main {
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url("burger-mobile.jpg");
    background-blend-mode: darken;
  }

  .main h1 {
    text-size-adjust: auto;
    max-width: fit-content;
    font-family: "Berkshire Swash", cursive;
    padding-top: 50%;
    margin-left: 15%;
    font-size: 65px;
    color: rgb(224, 206, 45);
    letter-spacing: 10px;
  }

  .main h4 {
    padding-top: 2%;
    max-width: fit-content;
    font-family: "Laila", sans-serif;
    margin-left: 15%;
    font-size: 25px;
    color: rgb(224, 206, 45);
    letter-spacing: 2px;
  }
  footer {
    width: 100%;
  }
  .box {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .menu {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .menu h2,
  .social h2,
  .services h2,
  .menu ul li,
  .services li,
  .LOCATION h2 {
    font-size: larger;
    line-height: 50px;
  }
  .social {
    align-items: center;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .social img {
    width: 80%;
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .services {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  .LOCATION {
    height: 100vh;
    width: 100%;
  }
  .LOCATION iframe {
    height: 400px;
    width: 250px;
  }

  footer h6 {
    text-align: center;
    padding-top: 20px;
    background-color: #232b2b;
    color: black;
    width: 100%;
    height: 20px;
  }
  nav .menu-btn i {
    display: block;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 80px;
    background-color: #232b2b;
    height: 100vh;
    width: 100%;
    text-align: center;
  }

  nav ul li {
    margin: 2px 0;
    line-height: 20px;
  }
  #click:checked ~ ul {
    left: 0%;
    height: 100vh;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul li a {
    max-width: fit-content;
    font-size: 15px;
    background-color: #232b2b;
    display: inline;
    color: rgb(224, 206, 45);
  }
  nav ul li a:hover,
  nav ul li a.active {
    background-color: rgb(224, 206, 45);
    border-radius: 50px;
    color: black;
    transition: 0.3s ease;
  }
}
